.photo-grid {
    margin: 92px 0 0;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-template-areas:
    ". photo-grid__images ."
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        grid-template-columns: 48px 1fr 48px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: 24px 1fr 24px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 16px 1fr 16px;
    }
}